* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
.heading {
  height: 100px;
  color: #800000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  font-size: 20px;
}
.area {
  background-color: grey;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.parking-line {
  width: 100%;
  display: flex;
  height: 220px;
  padding: 40px;
}
.markings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 10rem;
}
.slot {
  background-color: #59e659;
  width: 180px;
  height: 260px;
  border: 4px solid green;
  margin: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slot:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.line {
  width: 100%;
  height: 8px;
  background-color: white;
  margin-top: 8px;
}
.stop {
  width: 120px;
  rotate: 90deg;
  color: white;
  padding-top: 20px;
  text-align: center;
}
.icon {
  align-self: flex-end;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.divider {
  background-color: white;
  height: 20rem;
  width: 8px;
  margin-left: 8px;
}
.divide {
  background-color: white;
  height: 20rem;
  width: 8px;
  margin-right: 8rem;
}
.path {
  display: flex;
  margin-left: 20rem;
}

button {
  width: 40px;
  height: 20px;
}